body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("white_house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addLineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.president{
  /*border:10px solid blue;
  border-radius:10px;
  */
  background: url("trump_head_mouseover_2.png");
  background-repeat: no-repeat;
  background-size: 75%;
  width: 100px;
  height: 120px;
  position:absolute;
}

.president:hover {
  background-image: url("trump_head.png");
  background-repeat: no-repeat;
  background-size: 75%;
  width: 100px;
  height: 120px;
  position:absolute;
}
.animal{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}